.navbar-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;

}
.navbar-img{
    width: 100px;
    height: 30px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    vertical-align: middle;
}
.navbar-menu-item{
        margin-left: 20px;
}