.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;

}

.footer-contact{
    display: flex;
    justify-content: space-evenly;
}
.footer-contact p {
    margin-right: 20px;
}
.footer-social-media{
    width: 100px;
    display: flex;
    justify-content: space-between;
}